<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chensi.editapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EditApplication.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity android:name=".item.constraintlayout.ConstraintLayoutActivity" />
        <activity android:name=".item.motionlayout.MotionLayoutActivity" />
        <activity android:name=".item.coroutines.CoroutinesCheckActivity" />
        <activity android:name=".item.flow.FlowCheckActivity" />
        <activity android:name=".item.recyclerview.RecyclerViewActivity" />
        <activity android:name=".item.room_database.RoomDataBaseActivity" />
    </application>

</manifest>